* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'MedievalSharp', cursive;
}

.no-bg {
  background: none;
}

@media (max-width: 568px) {
  #logo {
    display: flex;
    justify-content: flex-end;
  }

  #title {
    display: flex;
    justify-content: flex-start;
    text-align: none;
  }

  header button {
    margin: 1em 0;
    width: calc(100vw - 4em);
  }
}